body{
	margin-left: 3%;
}


th {
  background-color: #BFBFBF;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

#deleteButton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
}

a {
	color: #0000EE;
}

#errorMsg{
	color: red;
}



form  {
	display: table;
}

label {
	display: table-cell;
}

input {
	display: table-cell;
}

p  {
	display: table-row;
}



#home {
	padding-left: 30%;
}

.home-link {
	padding-right: 10%;
}

